In [3]:
from ahh import exp, era
import pandas as pd
import datetime

In [29]:
# format datetimes into strings
dt = era.dtnow()
dt
dt_fmt = 'You can convert strings like this: {dt:%Y%m%d_%H%M}'
dt_fmt.format(dt=dt)

# another way...
dt_fmt = 'You can convert strings like this too; flawed: {dt.year}{dt.month}{dt.day}_{dt.hour}{dt.day}'
dt_fmt.format(dt=dt)

# but the second way is flawed if you're building consistent file paths
dt_fmt = 'You can convert strings like this too; slower: {dt.year:04d}{dt.month:02d}{dt.day:02d}_{dt.hour:02d}{dt.day:02d}'
dt_fmt.format(dt=dt)

datetime.datetime(2017, 7, 22, 0, 7, 23, 85154)

'You can convert strings like this: 20170722_0007'

'You can convert strings like this too; flawed: 2017722_022'

'You can convert strings like this too; slower: 20170722_0022'

In [25]:
# shifting panda datetime index
dt_arr = exp.arr_dt()
dt_arr
'shift 5 days'
dt_arr.shift(5, freq='1D') # shift forward by 5 days
'shift -2 days'
dt_arr.shift(-2, freq='A') # shift backward by two years

DatetimeIndex(['2016-02-28', '2016-02-29', '2016-03-01', '2016-03-02',
               '2016-03-03', '2016-03-04', '2016-03-05', '2016-03-06',
               '2016-03-07', '2016-03-08', '2016-03-09', '2016-03-10',
               '2016-03-11', '2016-03-12', '2016-03-13'],
              dtype='datetime64[ns]', freq='D')

'shift 5 days'

DatetimeIndex(['2016-03-04', '2016-03-05', '2016-03-06', '2016-03-07',
               '2016-03-08', '2016-03-09', '2016-03-10', '2016-03-11',
               '2016-03-12', '2016-03-13', '2016-03-14', '2016-03-15',
               '2016-03-16', '2016-03-17', '2016-03-18'],
              dtype='datetime64[ns]', freq='D')

'shift -2 days'

DatetimeIndex(['2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31'],
              dtype='datetime64[ns]', freq=None)

In [6]:
# converting datetimes into pd.DatetimeIndex
dt_list = [datetime.datetime(2016, 1, 4), datetime.datetime(2017, 2, 5), datetime.datetime(2018, 3, 6)]
dt_idx = pd.DatetimeIndex(dt_list)

In [24]:
# and using that to easily convert to specific type of time
'reference', dt_idx
'years', dt_idx.year
'months', dt_idx.month
'days', dt_idx.day
'date str', dt_idx.strftime('%m/%d/%Y %HZ')

('reference',
 DatetimeIndex(['2016-01-04', '2017-02-05', '2018-03-06'], dtype='datetime64[ns]', freq=None))

('years', array([2016, 2017, 2018], dtype=int32))

('months', array([1, 2, 3], dtype=int32))

('days', array([4, 5, 6], dtype=int32))

('date str', array(['01/04/2016 00Z', '02/05/2017 00Z', '03/06/2018 00Z'],
       dtype='<U14'))

In [22]:
# xarray can do it too, just add ".dt"
'reference'
exp.arr_ds().time
'days'
exp.arr_ds().time.dt.day
'seasons'
exp.arr_ds().time.dt.season # can do seasons too

'reference'

<xarray.DataArray 'time' (time: 366)>
array(['1948-01-01T00:00:00.000000000', '1948-01-02T00:00:00.000000000',
       '1948-01-03T00:00:00.000000000', ..., '1948-12-29T00:00:00.000000000',
       '1948-12-30T00:00:00.000000000', '1948-12-31T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1948-01-01 1948-01-02 1948-01-03 ...
Attributes:
    long_name:      Time
    delta_t:        0000-00-01 00:00:00
    avg_period:     0000-00-01 00:00:00
    standard_name:  time
    axis:           T
    actual_range:   [ 1297320.  1306080.]

'days'

<xarray.DataArray 'day' (time: 366)>
array([ 1,  2,  3, ..., 29, 30, 31])
Coordinates:
  * time     (time) datetime64[ns] 1948-01-01 1948-01-02 1948-01-03 ...

'seasons'

<xarray.DataArray 'season' (time: 366)>
array(['DJF', 'DJF', 'DJF', ..., 'DJF', 'DJF', 'DJF'],
      dtype='<U3')
Coordinates:
  * time     (time) datetime64[ns] 1948-01-01 1948-01-02 1948-01-03 ...