In [1]:
import pandas as pd
import ast

In [2]:
df = pd.DataFrame(data=['True', 'False', 'True ', ' False', '  True'])
df

        0
0    True
1   False
2   True
3   False
4    True

In [3]:
df.astype(bool)

      0
0  True
1  True
2  True
3  True
4  True

In [4]:
df[0] = df[0].str.strip().apply(ast.literal_eval)
df

       0
0   True
1  False
2   True
3  False
4   True