In [6]:
import pandas as pd
import numpy as np

In [7]:
def f(w):                        
    def g(x):
        return (w*x).sum()
    return g

In [17]:
d = pd.DataFrame(dict(a=range(7))) # test data
d

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6

In [18]:
# not enough values for index 0
# 0 * 0.25 + 1 * 0.5 + 2 * 0.25 = 1 for index 1
# 1 * 0.25 + 2 * 0.5 + 3 * 0.25 = 2 for index 2
# and so on...

wts = np.array([0.25, 0.5, 0.25]) # weights or 1-2-1 filter

[(d.iloc[i] * 0.5 + (d.iloc[i-1] + d.iloc[i+1]) * 0.25).values for i in range(1, len(d) - 1)] # old method

d.rolling(window=3, center=True).apply(f(wts)) # new method

[array([ 1.]), array([ 2.]), array([ 3.]), array([ 4.]), array([ 5.])]

     a
0  NaN
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0
6  NaN

In [19]:
%timeit [(d.iloc[i] * 0.5 + (d.iloc[i-1] + d.iloc[i+1]) * 0.25).values for i in range(1, len(d) - 1)] # old method

%timeit d.rolling(window=3, center=True).apply(f(wts)) # new method

4.38 ms ± 60.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
1.11 ms ± 11.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [22]:
# flexible!
# not enough values for index 1
# not enough values for index 2
# 1/12 * 0 + 3/12 * 1 + 4/12 * 2 + 3/12 * 3 + 1/12 * 4 = 2 for index 2
# and so on...

wts = np.array([1./12, 3./12, 4./12, 3./12, 1./12]) # weights or 1 3 4 3 1 filter
d.rolling(window=5, center=True).apply(f(wts)) # new method

     a
0  NaN
1  NaN
2  2.0
3  3.0
4  4.0
5  NaN
6  NaN