### filter_df_cols_by_pattern_regex

In [1]:
import pandas as pd

In [2]:
models = dict(model1_01=[1, 2, 3], model1_02=[3, 2, 1],
              model2_01=[8, 8, 8],
              model3_01=[4, 5, 6], model3_02=[6, 5, 4], model3_03=[5, 6, 4]
              )
models_df = pd.DataFrame(models)

In [3]:
models_df

   model1_01  model1_02  model2_01  model3_01  model3_02  model3_03
0          1          3          8          4          6          5
1          2          2          8          5          5          6
2          3          1          8          6          4          4

In [4]:
models_df.filter(regex="model1")

   model1_01  model1_02
0          1          3
1          2          2
2          3          1

In [5]:
models_df.filter(regex="model2")

   model2_01
0          8
1          8
2          8

In [6]:
models_df.filter(regex="model3")

   model3_01  model3_02  model3_03
0          4          6          5
1          5          5          6
2          6          4          4