### from_multi_index_df_to_pivoted

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('data/nmme_nino34.pkl') # is multi-index
df.head(2)
df.tail(2)

                       tmpsfc
model    time
b'CFSv2' 1982-01-01 -0.158217
         1982-02-01 -0.435526

                            tmpsfc
model         time
b'NCAR_CCSM4' 2010-11-01 -0.818806
              2010-12-01 -0.840446

In [3]:
df = df.reset_index() # removes the multi-indexing
df.head(2)
df.tail(2)

      model       time    tmpsfc
0  b'CFSv2' 1982-01-01 -0.158217
1  b'CFSv2' 1982-02-01 -0.435526

              model       time    tmpsfc
2434  b'NCAR_CCSM4' 2010-11-01 -0.818806
2435  b'NCAR_CCSM4' 2010-12-01 -0.840446

In [4]:
df = df.pivot(values='tmpsfc', index='time', columns='model')
df.head(2)

model,b'CFSv2',b'CMC1',b'CMC2',b'GFDL',b'GFDL_FLOR',b'NASA',b'NCAR_CCSM4'
time,,,,,,,
1982-01-01,-0.158217,0.070927,0.279768,0.121747,0.142299,0.145936,0.067701
1982-02-01,-0.435526,0.225740,0.593351,0.344724,0.167023,0.190963,0.349127