### Pandas Read Separated Date Cols

In [1]:
import pandas as pd

In [2]:
df_out = pd.DataFrame({'year': [2012, 2013, 2014], 'month': [3, 4, 5], 'day': [1, 2, 3], 'data': [8, 9, 10]})
df_out.to_csv('test_date_cols.csv', index=None)
df_out

   data  day  month  year
0     8    1      3  2012
1     9    2      4  2013
2    10    3      5  2014

In [3]:
# old method
df_in = pd.read_csv('test_date_cols.csv')
df_in.index = pd.to_datetime({'year': df_in.year, 'month': df_in.month, 'day': df_in.day})
df_in = df_in.drop(['year', 'month', 'day'], axis=1)
df_in

            data
2012-03-01     8
2013-04-02     9
2014-05-03    10

In [4]:
df_in = pd.read_csv('test_date_cols.csv',
                    parse_dates=[['year', 'month', 'day']],  # note two brackets!
                    index_col='year_month_day')
df_in
df_in.index

                data
year_month_day
2012-03-01         8
2013-04-02         9
2014-05-03        10

DatetimeIndex(['2012-03-01', '2013-04-02', '2014-05-03'], dtype='datetime64[ns]', name='year_month_day', freq=None)