### using_pandas_datetimeindex

In [1]:
import pandas as pd

In [2]:
dts = pd.date_range('2016-01-01', '2018-12-31')  # pandas datetime index
# unnecessarily make datetime objects into string so that...
date_strs = dts.strftime('%Y-%m-%d')
# it's mimicking pd.read_csv('something.csv')
df = pd.DataFrame({'data': range(len(date_strs))}, index=date_strs)
df.head(3)  # .head() to only show the first couple values

            data
2016-01-01     0
2016-01-02     1
2016-01-03     2

In [3]:
# say you want to resample to monthly; if you keep the datetime strings, it won't work
# but if you convert the index to a datetime index...
df.index = pd.DatetimeIndex(df.index)
df.resample('1MS').mean().head(3)  # resampling to start of month by averaging all values in the month

            data
2016-01-01  15.0
2016-02-01  45.0
2016-03-01  75.0

In [4]:
# or if you only want to select Mondays (0)...
df.loc[df.index.dayofweek == 0].head(3)

            data
2016-01-04     3
2016-01-11    10
2016-01-18    17

In [5]:
# or if you want the climatological monthly values
df.groupby(df.index.month).mean().head(3)

         data
1  380.666667
2  406.035294
3  440.000000